<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Effigy Perimiter Lighting</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="static/css/farbtastic.css" type="text/css" />
		
		<script src="static/js/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/farbtastic.js"></script>
		<script type="text/javascript" src="static/js/jquery.ui.ipad.altfix.js"></script>
 		<script src="static/js/api.js"></script>
 		
		<script>
		
		f = ''
		
		$(document).ready(function (){
			
			f = $.farbtastic('#colorpicker');
			$('#colorpicker').addTouch();
			f.linkTo(function () {
				
				$('body').css('background-color', f.color);
				
			});
			
		});

		</script>
    </head>
    <body>
		<div class="container">
			<h1>Color War!</h1>
			<div id="colorpicker"></div>	
			<br /><br />
			<div class="btn btn-large btn-success" href="" onclick="pushHexColors(f.color);">Push</div>
			<br /><br />
			<p>
				This website also supports direct calls to the <a href="/help">color setting API</a>. 
			</p>
		</div>
    </body>
</html>    